asgiref==3.9.0
Django==5.2.4
django-jazzmin==3.0.1
django-simpleui==2025.6.24
django-widget-tweaks==1.5.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
